@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }

  #editor > p {
    @apply text-gray-700;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    @apply font-montserrat;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }

  a {
    @apply text-accent;
  }

  body {
    @apply bg-white;
  }

  .btn {
    @apply h-12 w-auto px-5 py-3 text-sm shadow-sm font-medium tracking-wider transition-all duration-200 ease-in-out text-center;
  }

  .btn.btn-primary {
    @apply text-white border-white border-2 bg-primary hover:bg-white hover:text-primary;
  }

  .btn.btn-transparent-outlined {
    @apply text-black border-black border-2 bg-transparent hover:bg-black hover:text-white disabled:bg-gray-50 disabled:hover:bg-gray-50 disabled:text-gray-400 disabled:border-gray-200 disabled:shadow-none  disabled:cursor-not-allowed;
  }

  .btn.btn-transparent-outlined.active {
    @apply text-black border-black border-2 bg-black text-white;
  }

  .btn.btn-transparent-outlined-white {
    @apply text-white border-white border-2 bg-transparent hover:bg-white hover:text-primary;
  }

  .btn-admin {
    @apply h-12 w-auto px-5 py-2 text-sm shadow-sm font-medium tracking-wider rounded-lg hover:shadow-lg disabled:bg-gray-50 disabled:hover:bg-gray-50 disabled:text-gray-800 disabled:border-gray-200 disabled:shadow-none  disabled:cursor-not-allowed;
  }

  .btn-admin.btn-sm {
    @apply h-8 text-xs;
  }

  .btn-admin.btn-primary {
    @apply bg-blue-500 border border-blue-500 text-white hover:bg-admin-primary-dark;
  }

  .btn-admin.btn-dark {
    @apply bg-black text-white;
  }

  .btn-admin.btn-outlined-primary {
    @apply bg-white text-blue-500 hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500;
  }

  .btn-admin {
    @apply disabled:bg-gray-50 disabled:hover:bg-gray-50 disabled:text-gray-800 disabled:border-gray-200 disabled:shadow-none  disabled:cursor-not-allowed;
  }

  .btn-admin.btn-danger {
    @apply bg-admin-danger border text-white hover:bg-admin-danger-dark disabled:bg-admin-danger-light disabled:hover:bg-admin-danger-light disabled:text-gray-500 disabled:border-gray-200 disabled:shadow-none;
  }
}

.ProseMirror {
  height: 100% !important;
  outline: none !important;
}

#burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

#burger-menu > focus {
  outline: none;
}

#burger-menu > div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

#burger-menu > div:first-child {
  transform: rotate(0);
}

#burger-menu > div:first-child.open {
  transform: rotate(45deg);
}

#burger-menu > div:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

#burger-menu > div:nth-child(2).open {
  transform: translateX(20px);
  opacity: 0;
}

#burger-menu > div:nth-child(3) {
  transform: rotate(0);
}

#burger-menu > div:nth-child(3).open {
  transform: rotate(-45deg);
}

#educational-approach-parallax {
  background-image: url(/images/educational-approach.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide {
  opacity: 0;
  transition-duration: 4s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.editor-container > div {
  height: 100%;
}

#teacher-resources-list > div:first-of-type {
  background: #e5e5e5;
}

#teacher-resources-list > div:nth-of-type(2) {
  background: rgba(244, 33, 33, 0.31);
}

#teacher-resources-list > div:nth-of-type(3) {
  background: rgba(201, 228, 237, 1);
}

#teacher-resources-list > div:nth-of-type(4) {
  background: rgba(244, 126, 33, 0.31);
}

#teacher-resources-list > div:nth-of-type(5) {
  background: red;
}

#teacher-resources-list > div:nth-of-type(6) {
  background: red;
}
